* {
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #c378b378;
}

h1{ 
	text-align: center;
	color: black;
	font-size: 1.75em;
}

h2 {
    border: 3px solid black;
    text-align: center;
    float:right;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    right: 10px;
    bottom: 5px;
    width: 150px;
    margin-bottom: auto;
}

p {
    margin: 10px;
    border: 3px solid black;
    background-color:#9ee485;
    padding-top: 50px;
    padding-left: 10px;
    padding-right:10px;

}

.chicken {
	color: white;
    background-color: #d6713c;
}

.beef {
    color: white;
    background-color: #d6713c;
}

.sushi {
    background-color:#d6713c;
     color: white;
}

.row {
    width: 100%;
}    

@media (min-width: 992px){
	.col-lg-1, .col-lg-2 , .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10,
	.col-lg-11, .col-lg-12
	{
		float: left;
		border: 1px;

	}
	.col-lg-1 {
		width: 8.33%;
	}
	.col-lg-2 {
		width: 16.66%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.33%;
	}
	.col-lg-5 {
		width: 41.66%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.33%;
	}
	.col-lg-8 {
		width: 66.66%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 83.33%;
	}

	.col-lg-11 {
		width: 91.66%;
	}
	.col-lg-12 {
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-1, .col-md-2 , .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,
	.col-md-11, .col-md-12
	{
		float: left;
		border: 1px;
	}
	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.33%;
	}
	.col-md-5 {
		width: 41.66%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.33%;
	}
	.col-md-8 {
		width: 66.66%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.33%;
	}
	.col-md-11 {
		width: 91.66%;
	}
	.col-md-12 {
		width: 100%;
	}
